.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  height: 80%;
  width: 35%;
}

.content{
  overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .Container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .Container {
    width: 60%;
  }
  .navBar{
    bottom: 60px;
  }
  .MuiDialog-paperFullScreen{
    width: 60%!important;
    height: 80%!important;
  }
}

.content{
  padding: 10px;
  height: 100%;
}

html, body, #root{
  height: 100%;
}