html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#header{
    max-width: 100%;
    height: 3rem;
    background-color: #338af5;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: verdana;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

#content{
    padding: 1rem;
    max-width: 65%;
    margin: auto;
}
#youtubeImage{
    width: 100%;
    margin-top: 1rem;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 1px 4px 0 rgba(0,0,0,0.19) !important;
}
.radioGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonLabelGroup{
    width: 100%;
    border-radius: 3px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}


.buttonLabelGroup:hover{
    background-color: #fbfafa;
    cursor: pointer;
}


#thumbnailSize{
    font-family: verdana;
    background-color: whitesmoke;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
#thumbnailSize:hover{
    background-color: #fbfafa;
    cursor: pointer;
}

#thumbnailSizeFormSection{
    display: flex;
    flex-direction: column;
}
#efficientTasksFormSection{
    display: flex;
    flex-direction: column;
}
.checkboxField{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 0.5rem;
}
.checkboxField:hover{
    background-color: #fbfafa;
    cursor: pointer;
}
#likertQuestionContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
}
.rating1{
    grid-column: 2/3;
    grid-row: 1/2;
}
.rating2{
    grid-column: 3/4;
    grid-row: 1/2;
}
.rating3{
    grid-column: 4/5;
    grid-row: 1/2;
}
.rating4{
    grid-column: 5/6;
    grid-row: 1/2;
}
.rating5{
    grid-column: 6/7;
    grid-row: 1/2;
}
.rating1, .rating2, .rating3, .rating4, .rating5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.option1{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}
.option2{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
}
.option3{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
}
.option4{
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    align-items: center;
}
#option1Slider{
    grid-column: 2/7;
    grid-row: 2/3;
}
#option2Slider{
    grid-column: 2/7;
    grid-row: 3/4;
}
#option3Slider{
    grid-column: 2/7;
    grid-row: 4/5;
}
#option4Slider{
    grid-column: 2/7;
    grid-row: 5/6;
}
.font-5{
    font-size: 1.2rem;
}
.font-4{
    font-size: 1.1rem;
}
.font-3{
    font-size: 1rem
}
.font-2{
    font-size: 0.9rem
}
.font-1{
    font-size: 0.8rem
}

.formSection{
    margin: 1.5rem 0 1.5rem 0;
}
.formSection p, label{
    font-family: verdana;
    margin: 0.5rem 0 0.5rem 0;
}input[type=range] {
    height: 31px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F0F0F0;
    border-radius: 25px;
    border: 0px solid #8A8A8A;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 0px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #F5F5F5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F0F0F0;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F0F0F0;
    border-radius: 25px;
    border: 0px solid #8A8A8A;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 0px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #F5F5F5;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #F0F0F0;
    border: 0px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #F0F0F0;
    border: 0px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 0px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #F5F5F5;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #F0F0F0;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #F0F0F0;
  }
  #q1Field{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    font-family: verdana;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  }
  #commentsTextArea{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    font-family: verdana;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  }
  #footer{
    max-width: 100%;
    height: 1.5rem;
    background-color: #338af5;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    font-family: verdana;
    box-shadow: 5px 10px 16px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  }
  .submitRow{
      display:flex;
      justify-content: flex-end;
  }
  .submitRow button{
    width: 7rem;
    height: 2.5rem;
    border: none;
    background-color: #28b4ff;
    font-family: Verdana;
    transition-duration: 0.2s;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
  .submitRow button:hover{
      background-color: black;
      color: white;
      cursor: pointer;
  }