html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: verdana;
}
#header{
    width: 100%;
    height: 5rem;
    background-color:#6AA86F;
    display: flex;
    align-items: center;
}

#logo{
    height: 3rem;
    margin-left: 1rem;
}

#wizardHeader{
    display:  flex;
    background-color: #6AA86F;
    align-items: center;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 30px solid #639e67;
}
.wizardHeaderStep{
    padding: 1rem;
    background-color: #639e67;
    color: white;
}
.wizardHeaderStep .font-4{
    color: lightgray;
}
.activeStep{
    background-color: #56865a;
}
.activeStepArrow{
    border-left: 30px solid #56865a;
}
.wizardHeaderStep:hover{
    cursor: pointer;
    background-color: #7bc480;
    transition: all 0.3s;
}
.arrowHover{
    border-left: 30px solid #7bc480;
    transition: all 0.3s;
}
.productFilterBar{
    display: flex;
    background-color: #6AA86F;
}
.productFilterTab{
    padding: 1rem;
    font-family: verdana;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    border-left: 1px solid #68a56c;
    background-color: #639e67;
}
.productFilterTabActive{
    background-color: #56865a;
}
.productFilterTab:hover{
    cursor: pointer;
    background-color: #7bc480;
    transition: all 0.3s;
}
.font-2{
    font-size: 1.5rem;
}
.font-3{
    font-size: 1.1rem;
}
.font-4{
    font-size: 0.8rem;
}
.font-5{
    font-size: 0.6rem;
}

.bold{
    font-weight: bold;
}
p{
    margin: 0
}
.tabContent{
    margin: 1rem 1rem 0 1rem;
    display: none;
}
.userCardOption{
    display: flex;
    margin-top:0.5rem;
    background-color: whitesmoke;
    height: 6rem;
}
.userCardOptionChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
}
.choiceDesc{
    margin-top: 0.5rem;
}
.userCardOptionDescriptionContainer{
    padding: 1rem;
}
.userCardOpionYes{
    background-color: #6aa86f;
    margin-left: auto;
}
.userCardOpionYes:hover{
    background-color: #7bc480;
    cursor: pointer;
}
.userCardOpionNo:hover{
    background-color: #ef4949;
    cursor: pointer;

}
.userCardOpionNo{
    background-color: #d03d3d;
}
.optionImage{
    height: 6rem;
    width: 8rem;
}
.userOptionNonActive{
    background-color: #cdcdcd;
}
#backgroundImageContainer{
    background-image: url("./images/foodBackground.jpg");
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

#newsletterMessage{
    height: 60%;
    width: 65%;
    background-color: #e9e9e9b8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signupButton{
    margin-top: 2rem;
    border: none;
    width: 10rem;
    height: 2rem;
    color: white;
    font-family: verdana;
    background-color: #6AA86F;
}
#signupButton:hover{
    background-color: #7bc480;
    cursor: pointer;
}
.productsContainer{
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.product{
    min-width: 10rem;
    max-width: 12rem;
    padding: 0.5rem;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 13rem;
    margin-bottom: 1rem;
}
.productImage{
    width: 8rem;
    height: 6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.addToCartButton{
    background: none;
    border: none;
    background-color: #78bd7d;
    width: 50%;
    color: white;
}
.addToCartButton:hover{
    cursor: pointer;
    color: black;
}
.removeFromCartButton {
    background: none;
    border: none;
    background-color: red;
    width: 50%;
    color: white;
}
.removeFromCartButton:hover{
    cursor: pointer;
    color: black;
}
.addToCartRow{
    margin-top: 1rem;
}
.priceRow{
    display: flex;
    align-items: center;
}
.productInfoBar{
    display: flex;
}
.icon{
    width: 1rem;
    height: 1rem;
}
.ml-1{
    margin-left: 0.5rem;
}
.ml-auto{
    margin-left: auto;
}
.hideIcon{
    display: none;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.showTabContent{
    display: block;
}
#cartTabContent{
    background-color: #EEEEEE;
    margin: 0;
    width: 100%;
    height: 100%;
}
.shippingOption{
    margin: 1rem 0.5rem 1rem 0.5rem;
    background-color: white;
    padding: 1rem;
    display: flex;
}
.shippingOptionActive{
    background-color: black;
    color: white;
}
.shippingOption:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.shippingType {
    margin-bottom: 0.5rem;
}
.shippingIcon{
    width: 3rem;
    margin-right: 2rem;
}
.productSummary{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5rem;
    border-top: 1px solid #e9e9e9;
    margin-top: 1rem;
}
.productSummaryItem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.productSummaryImage{
    width: 3rem;
    height: 3rem;
}
.cartSummary{
    margin: 0rem 0.5rem 1rem 0.5rem;
    background-color: white;
    padding: 1rem;
}
#subtotalRow, #totalRow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5rem;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #6AA86F;
    color: white;
}

